@import "tailwindcss";


.text-color {
  color: #333333;
}
.bg-color {
  background-color: #ffffff;
}
.text-primary { color: #1a73e8; }
.text-danger { color: #d93025; }
.text-secondary { color: #5f6368; }
.text-warning { color: #f9ab00; }
.text-success { color: #188038; }
.text-link { color: #1a0dab; text-decoration: underline; }
:dark{
    .text-color {
      color: #ffffff;
    }
    .bg-color {
      color: #333333;
    }
}